<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fil_rouge_v02">

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SONDAGE COVID"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="SONDAGE COVID">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presentation"
            android:label="Présentation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".QuestionOne"
            android:label="Contamination"
            android:parentActivityName=".Presentation"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".QuestionTwo"
            android:label="Nombre de tests"
            android:parentActivityName=".QuestionOne"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".QuestionThree"
            android:label="Evaluation de la douleur"
            android:parentActivityName=".QuestionTwo"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>